.editor-container {
  position: relative;
  height: 100%;
}

.editor-container .button-format {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-container:hover .button-format {
  opacity: 1;
}

.editor-container .mtk1 {
  color: #d4d4d4;
}
.editor-container .mtk2 {
  color: #1e1e1e;
}
.editor-container .mtk3 {
  color: #000080;
}
.editor-container .mtk4 {
  color: #6a9955;
}
.editor-container .mtk5 {
  color: #569cd6;
}
.editor-container .mtk6 {
  color: #b5cea8;
}
.editor-container .mtk7 {
  color: #646695;
}
.editor-container .mtk8 {
  color: #c586c0;
}
.editor-container .mtk9 {
  color: #9cdcfe;
}
.editor-container .mtk10 {
  color: #f44747;
}
.editor-container .mtk11 {
  color: #ce9178;
}
.editor-container .mtk12 {
  color: #6796e6;
}
.editor-container .mtk13 {
  color: #808080;
}
.editor-container .mtk14 {
  color: #d16969;
}
.editor-container .mtk15 {
  color: #dcdcaa;
}
.editor-container .mtk16 {
  color: #4ec9b0;
}
.editor-container .mtk17 {
  color: #c586c0;
}
.editor-container .mtk18 {
  color: #4fc1ff;
}
.editor-container .mtk19 {
  color: #c8c8c8;
}
.editor-container .mtk20 {
  color: #cd9731;
}
.editor-container .mtk21 {
  color: #b267e6;
}
.editor-container .mtki {
  font-style: italic;
}
.editor-container .mtkb {
  font-weight: bold;
}
.editor-container .mtku {
  text-decoration: underline;
  text-underline-position: under;
}

.editor-container .mtk100.Identifier.JsxElement.Bracket {
  color: #0080ff;
}

.editor-container .mtk1000.Identifier.JsxOpeningElement.Bracket {
  color: #808080;
  font-weight: bold;
}

.editor-container .mtk1001.Identifier.JsxClosingElement.Bracket {
  color: #808080;
  font-weight: lighter;
}

.editor-container .mtk101.Identifier.JsxOpeningElement.Identifier {
  color: #569cd6;
}

.editor-container .mtk102.Identifier.JsxClosingElement.Identifier {
  color: #569cd6;
  font-weight: lighter;
}

.editor-container .mtk103.Identifier.JsxAttribute.Identifier {
  color: #9cdcfe;
}

.editor-container .mtk104.JsxElement.JsxText {
  color: darkgoldenrod;
}

.editor-container .mtk105.glyph.Identifier.JsxElement {
  background: #61dafb;
  opacity: 0.25;
}

.editor-container .mtk12.Identifier.JsxExpression.JsxClosingElement {
  color: #ec5f67;
}

.editor-container .mtk12.Identifier.JsxSelfClosingElement {
  color: #ec5f67;
}
.editor-container .mtk12.Identifier.VariableStatement.JsxClosingElement {
  color: #ec5f67 !important;
}
.editor-container .mtk12.VariableStatement.JsxSelfClosingElement.Identifier {
  color: #ec5f67;
}
.editor-container .mtk12.Identifier.JsxAttribute.VariableDeclaration {
  color: crimson;
}
.editor-container .mtk12.JsxExpression.VariableStatement {
  color: #fac863;
}
.editor-container .mtk12.VariableStatement.JsxSelfClosingElement {
  color: #ede0e0;
}
.editor-container .mtk12.VariableStatement.JsxClosingElement {
  color: #ede0e0;
}
.editor-container .JsxText {
  color: #0c141f;
}
